@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Neucha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Neucha&family=Victor+Mono:wght@100&display=swap');


/* reset p/ navegador */
*{
    margin: 0; /* TOP RIGTH BOTTOM LEET */
    padding: 0;
}
body{
    width: 100%; /*comprimento */
    height: 100%; /*altura */
    display: flex;
    justify-content: center;
    background: linear-gradient(#75e0fb, #bbb9b4);
    background-repeat: no-repeat;
}
.imagem{       /*extrutura DIV */
    display: flex;
    justify-content: center;
}
.imagem img{    /* img src Foto do Avatar */
    width: 170px;
    border-radius: 200px;
    margin-top: 30px;
}
.nome {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;   /*tamanho da fonte*/
    font-weight: 600;
    color: rgb rgb(55, 0, 255); /* Cor para texto */
    font-family: Arial, Helvetica, sans-serif;
}

.icon, .email{
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    margin: 3px;
    overflow: hidden;   /*efeito mascara */
}
.icon i, .email i {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;  /*22*/
    border-radius: 30px;
    background-color: azure;
    color: blue;  /*cor do texto*/
    cursor: pointer;
}
.icon, span a{
    list-style: none;
    font-family: 'Metal Mania', cursive;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    color: #4d8cf9;
    line-height: 35px;
    font-size: 17px;
}
.nome-icon {
    font-family: 'Metal Mania', cursive;
    margin-right: 40px;
    float: right;
    color: #f2f2f2;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}
.icon:hover {
    width: 125px;
    background-color: rgb(226, 225, 224);
    border-radius: 20px;
}
.redes-sociais{
    margin-top: 10px;    /*margem Superior  */
    justify-content: center;    /*centralizar texto*/
    align-items:center;
    display: flex;
    /* background: red; */ 
}
.redes-sociais a{
    text-decoration: none;
}

.texto{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    margin: 50px 90px;
    font-family: 'Victor Mono', monospace;
    font-size: 20px;
    text-align: justify;
    width: 700px;
    height: 200px;
    padding: 50px;
    border-radius: 24px;
    color: rgb(237, 233, 233);
    background: rgb(3, 26, 62);
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}
.sobre-mim{
    position: absolute; 
    top: 10px; /* move o topo do h2 para o centro vertical */
    /* para valores em porcentagem - transform: ;*/
    display: flex;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}
.subtitulo{
font-weight: 100;
color: #4d8cf9;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
font-size: 35px;
margin-top: 45;
margin-bottom: 15px;
}
.linguagem{
display: flex;
justify-content: center;
margin-top: 40px;
}
.linguagem img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
.projetos{
    margin-top: 40px;
    flex-direction: column;
}
.item{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(127, 157, 255);
    border: 1px solid rgb(63, 197, 246);
    border-radius: 50px;
    width: 570px ;
    height: 60px;
    font-size: 22px;
    background: rgb(234, 234, 234) ;
    box-shadow:0 5px 5px rgba(0, 0, 0, 1);
}
.item:hover{
transition: 0.2s;
background-color: #75e0fb;
}
#movie {
    padding: 15px;
    margin: auto;
    display: none;
}
#movie.active {
    display: block;
}
.rodape p {
    color: #1a4994;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px ;
    font-family: 'Metal Mania', cursive;
}

@media (max-width: 700px) {
.imagem img{
    width: 150px;
    border-radius: 200px;
    margin-top: 25px;
}

.texto{
    width: 300px;
    height: 500px;
}
.linguagem img{
    width: 165px;
}
.subtitulo {
    font-size: 30px;
}
.item{
    width: 350px;
}
#movie {
    width: 350px;
}
}

@media (max-width: 500px) {
imagem img{
    width: 120px;
    margin-top: 30px;
}
.nome {
    font-size: 20px;
}
.texto{
    padding: 20px;
    width: 244px;
    height: 700px;
    margin-top: 35px;
}
.subtitulo {
    margin-top: 35px;
    font-size: 20px;
}
.item{
    width: 260px;
    height: 40;
    margin-top: 12px;
}


}

